.body{
    width: 1440px;
    width: 1024px ;
}
.menu{
    width: 1440px;
    height: 70px;
    float: left;
}
.left{
    width: 440px;
    height: 70px;
    float: left;
}
.right{
    width: 800px;
    height: 70px;
    float: left;
}
h5{
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}
.right ul li{
    float: left;
    list-style: none;
    margin: auto;
    padding: 10px 30px;
}
.right a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: black;
}
.right a:hover{
    color: red;
}
.icon{
    width: 200px;
    float: left;
    text-align: center;
    margin-top: 25px ;
    
}
.icon a{
    margin-left: 10px;
}
.anh{
    margin-left: 30px;
}
h3{
    text-align: center;
}
pre{
    font-family: sans-serif;
}